<nav class="navBar shadow-1">
  <nav class="nav-wrapper">
    <input type="checkbox" id="menu-toggle">
    </input>
    <ul>
      <li><a href="/"><i class="material-icons">home</i></a></li>
      <li><a href="#"><i class="material-icons">notifications</i></a></li>
    </ul>
    <a href="/"><img class="logo" src="/static/images/logo.png"></img></a>

    {% if session.logged_in %}
    <ul>
      <img class="logo circle" src="/static/images/profile.png"></img>
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
    {% else %}
    <ul>
      <li><a href="/register">REGISTER</a></li>
      <li><a href="/login">LOG IN</a></li>
    </ul>
    {% endif %}
    <label for="menu-toggle" class="label-toggle"></label>
  </nav>
</nav>
