*,body,html {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

html {
	font-family: Source Sans Pro,sans-serif;
	background-color: rgb(225,220,220);
}

body {
	padding: 0px;
	margin: 0px;
}

#container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.section {
	background-color: rgb(255,255,255);
	margin: 50px 0;
  display: flex;
}

.section-content {
  padding: 40px;
  width: 100%;
}

.inline-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.capital {
  text-transform: uppercase;
}

.light-text {
  font-weight: 300;
  color: #6a6969;
}

/*SHADOWS*/
.shadow-1 { /*lowest shadow depth*/
-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

/*START NAV BAR CSS*/
.navBar {
  background-color: #cd3538;
  min-width: 100%;
}

.logo {
	height: 45px;
	width: 45px;
	display: inline-block;
	margin: 1em 0;
}

.circle {
  background-color: #fff;
  border-radius: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 10%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li  {
  display: inline-block;
	margin-right: 15px;
}

#menu-toggle {
	display: none; /* hide the actual chrome box ting*/
}

.label-toggle {
	display: none; /*hide hamburger when width >500px*/
}

.nav-wrapper { /* wrapper for navigation bar only*/
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
}

  @media screen and (max-width: 370px) {
    nav ul a{
      color: #cd3538;
    }

    nav ul {
      background-color: #fff;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 0.5s ease;
      width: 100%;
      visibility: hidden;
    }

    nav li {
      border-bottom: 2px solid #cd3538;
      color: #cd3538;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
			margin-right: 0;
    }

    #menu-toggle:checked ~ ul {
      opacity: 1;
			padding: 0;
      height: 243px;
      visibility: visible;
    }

		.logo {
			  margin: 1em 1em;
		}

    .label-toggle {
      background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%); //CSS Hamburger stole from some website lol
      cursor: pointer;
      display: inline-block;
      float: right;
      height: 35px;
      margin: 1.5em 1.5em;
      width: 35px;
    }

    .nav-wrapper {display: block;}
}
/*END NAV CSS*/

h2 {
  font-weight: 400;
  font-size: 1.8em;
}

img {
	width: 128px;
}

.form-group { /* each text entry is in a group */
  margin: 15px 15px;
  position: relative;
  display: inline-block;
}

.text-group { /* each text entry is in a group */
  width:100%;
  margin-top: 20px;
}

.text-input	{ /* actual text box*/
  font-size: 1em;
  padding-bottom: 10px;
  border:none;
  border-bottom:1px solid #757575;
  width: 100%;
  display: block;
}
input:focus 		{ outline:none; }


/* BOTTOM BAR */
.bar 	{
  position: relative;
  display: block;
  width: 100%;
  color: #6a6969;
}
.bar:before, .bar:after 	{
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #cd3538;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before { /*centre the bar*/
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* BOX SELECTED */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS FOR ALL BROWSERS*/
@-webkit-keyframes inputHighlighter {
	from { background: #cd3538; }
  to 	{ width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: #cd3538; }
  to 	{ width: 0; background: transparent; }
}
@keyframes inputHighlighter {
	from { background: #cd3538; }
  to 	{ width: 0; background: transparent; }
}

/*BEGIN STAR RATING CSS*/
.rating {
  width: 150px;
  float: right;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 150%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #cd3538;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #e83e41;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #e83e41;
}

.rating > label:active { /*could add animation when star clicked*/
    position:relative;
    top: 3px; /*added a good animation boi*/
    /*font-size: 220%; (example bad animation)*/
}

.review {
  display: flex;
  margin: 2px 0;
}

.review-content {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.subject-group {
  min-width: 60px;
  max-width: 100px;
  display: block;
}

.subject-group > * {
  text-align: center;
}

.review-right {
  width: 100%;
  padding-left: 40px;
}

.top-group a > * {
  display: inline-block;
  text-decoration: none;
  margin-right: 8px;
}

.userpicture {
  width: 23px;
}

.subjectpicturediv {
  position: relative;
}

.subjectpicture {
  width: 100%;
  height: auto;
}

.submit-right {
  width: 150px;
  display: block;
  flex-grow: 1;
  padding-left: 40px;
}

.submit-left {
  width: 100%;
  min-width: 200px;
  display: block;
}

.name {
  font-size: 1.5em;
  color: black;
}

.subjectname {
  font-weight: 400;
  margin-top: 10px;
}

.top-group .rating {
  display: inline-block;
  float: none;
}

@media screen and (max-width: 600px) {
  .inline-form {
    display: block;
  }
  .submit-right {
    display: inline;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
  .rating {
    float: none;
  }
  .submit {
    float: right;
  }
}
