{% extends 'layout.html' %}

{% block body %}
<div class="section shadow-1">
  <div class="section-content">
		<h2 class="capital">Log in</h2>
    {% include 'includes/_messages.html' %}
		<form action="" method="POST">
      <div class="form-group text-group">
        <input type="text" name="username" placeholder="Username" class="text-input" value={{request.form.username}}>
      </div>
      <div class="form-group text-group">
        <input type="password" name="password" placeholder="Password" class="text-input" value={{request.form.password}}>
      </div>
		</div>
		<p><input class="submit form-group" name"" value"Submit" type="submit"></p>
    </form>
</div>
{% endblock %}
